Package: com.koolstudios.slyd15
Name: Slyd15
Version: 1.0
Architecture: iphoneos-arm64
Description: Slide to Unlock for iOS 15
Maintainer: Your Name
Author: Nepeta (ported by koolstudios)
Section: Tweaks
Depends: firmware (>= 15.0), ws.hbang.common
Rootless: true
